/*================== RESET ==================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 250;

  /* HSL color mode */

  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
  --body-color-secondary: white;
  --shadows: rgba(0, 0, 0, 0.2);

  /* Fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*================== BASE ==================*/

#top {
  position: absolute;
  top: 0;
  right: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

body.dark-theme {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
  --header-height: 4.5rem;
  --hue: 250;
  --base-color: hsl(var(--hue) 36% 56%);
  --base-color-second: hsl(var(--hue) 36% 36%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 90%);
  --text-color: hsl(var(--hue) 0% 76%);
  --text-color-light: hsl(var(--hue) 0% 98%);
  --body-color: hsl(var(--hue), 18%, 15%);
  --body-color-secondary: hsl(var(--hue), 10%, 12%);
  --shadows: rgba(255, 255, 255, 0.2);
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/*================== LAYOUT ==================*/

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
}

#header.scroll {
  box-shadow: 0px 0px 20px 10px var(--shadows);
}

main {
  margin-top: calc(var(--header-height) + 2rem);
}

/*================== LOGO ==================*/

.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

.logo-alt span {
  color: var(--body-color);
}

/*================== NAVIGATION ==================*/

nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);
  position: absolute;
  left: 0;
  bottom: -1rem;
  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/*======== Show Menu =========*/

nav.show .menu {
  display: grid;
  place-content: center;
  opacity: 1;
  visibility: visible;
  background: var(--body-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* =========Toggle menu =========*/

.toggle {
  color: var(--base-color);
  font-size: 1.6rem;
  cursor: pointer;
}

nav .icon-menu4 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  transition: 0.2s;
}

nav.show div.icon-menu4 {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*================== HOME ==================*/

#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -6.8%;
  left: -0.8%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img #home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
  max-width: 100%;
}

/*================== ABOUT ==================*/

#about {
  background: var(--body-color-secondary);
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 90%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -8.3%;
  left: -6.3%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image img #about .image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*================== SERVICES ==================*/

.cards.grid {
  gap: 2rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px var(--shadows);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
  transition: 0.3s;
}

.card:nth-child(1):hover {
  background-color: rgba(207, 167, 56, 0.2);
  border-bottom: 0.25rem solid #e34f26;
  transition: 0.3s;
}

.card:nth-child(1):hover i {
  color: #e34f26;
  transition: 0.3s;
}

.card:nth-child(2):hover {
  background-color: rgba(117, 150, 187, 0.2);
  border-bottom: 0.25rem solid #77b1db;
  transition: 0.3s;
}

.card:nth-child(2):hover i {
  color: #77b1db;
  transition: 0.3s;
}

.card:nth-child(3) .card-hover {
  transition: 0.3s;
}

.card:nth-child(3):hover {
  border-image: linear-gradient(to right, #f7df1e, #007acc);
  border-image-slice: 1;
  transition: 0.3s;
  background-image: linear-gradient(
    to right,
    rgba(195, 166, 0, 0.15),
    rgba(62, 45, 212, 0.15)
  );
}

.card:nth-child(3):hover i {
  color: #f7df1e;
  transition: 0.3s;
}

.card:nth-child(3):hover i + i {
  color: #007acc;
  transition: 0.3s;
}

.card:nth-child(4) .card-hover {
  transition: 0.3s;
}

.card:nth-child(4):hover {
  border-image: linear-gradient(to right, #61dafb, #764abc);
  border-image-slice: 1;
  transition: 0.3s;
  background-image: linear-gradient(
    to right,
    rgba(0, 156, 195, 0.15),
    rgba(123, 45, 212, 0.15)
  );
}

.card:nth-child(4):hover i {
  transition: 0.3s;
  color: #61dafb;
}

.card:nth-child(4):hover i + i {
  color: #764abc;
}

.card i {
  display: inline-block;
  margin-bottom: 1.5rem;
  font-size: 4.5rem;
  color: var(--base-color);
  transition: 0.3s;
}

.card:nth-child(5) .card-hover {
  transition: 0.3s;
}

.card:nth-child(5):hover {
  border-image: linear-gradient(to right, #f05032, #000000);
  border-image-slice: 1;
  transition: 0.3s;
  background-image: linear-gradient(
    to right,
    rgba(255, 78, 34, 0.15),
    rgba(0, 0, 0, 0.15)
  );
}

.card:nth-child(5):hover i {
  transition: 0.3s;
  color: #f05032;
}

.card:nth-child(5):hover i + i {
  color: #000000;
}

.card i + i {
  margin-left: 1rem;
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75;
}

/*================== TESTIMONIALS ==================*/

#testimonials {
  background: var(--body-color-secondary);
}

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}

#testimonials header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px var(--shadows);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

#testimonials blockquote p span {
  font: 700 2.5rem serif;
  position: absolute;
  top: -0.375rem;
  left: -1.875rem;
  color: var(--base-color);
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials cite img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

/* Swiper */

.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

/*================== CONTACT ==================*/

#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);
}

/*================== FOOTER ==================*/

footer {
  background: var(--base-color);
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 2.5rem;
  color: var(--text-color-light);
  transition: 0.3s;
}

footer .social {
  display: flex;
}

footer .social a {
  margin-top: 1.5rem;
  margin-right: 2rem;
  transition: 0.3s;
}

footer .social a:hover {
  transform: translateY(-6px);
}

footer a:nth-child(1) i:hover {
  color: #1877f2;
}
footer a:nth-child(2) i:hover {
  color: #005a8a;
}
footer a:nth-child(3) i:hover {
  color: #242424;
}

/*================== BACK TO TOP ==================*/

.back-to-top {
  color: var(--text-color-light);
  background: var(--base-color);
  position: fixed;
  right: 1.2rem;
  bottom: 1.2rem;
  padding: 0.5rem;
  line-height: 0;
  clip-path: circle();
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}

/*================== MEDIA QUERIES ==================*/
/* extra large devices: 1200 >  */
@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 9rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 34rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu3 {
    display: none;
  }

  nav i {
    cursor: pointer;
  }

  nav > i {
    display: none;
  }

  main {
    margin-top: var(--header-height);
  }

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  #home .image {
    width: 450px;
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
    align-items: center;
  }

  #about img {
    width: 600px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;

    /* grid-template-columns: 1fr 1fr 1fr; */
  }

  .card {
    min-width: 30%;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .focus-content {
    display: flex;
  }

  .hide-text {
    display: none;
  }

  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}
/* larger devices: 1023 >  */
@media (min-width: 1023px) {
}
/* large devices 992 > */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}
/* medium devices:767 > */
@media (min-width: 767px) {
}
